In [285]:
# 1. Abbiamo una lista di numeri. Creare una nuova lista i cui elementi sono gli stessi numeri incrementati di 10, mediante comprehesion
numeri = [4,10,50,100,128,71,46]
numeri_1=[n+10 for n in numeri]
print("La lista originale: " + ("".join(str(numeri))) + "\nLa lista con incremento: " + str("".join(str(numeri_1))))

La lista originale: [4, 10, 50, 100, 128, 71, 46]
La lista con incremento: [14, 20, 60, 110, 138, 81, 56]

In [ ]:
# 1. Abbiamo una lista di numeri. Creare una nuova lista i cui elementi sono gli stessi ma raddoppiati, mediante comprehesion
numeri = [4,10,50,100,128,71,46]
numeri_1 =[n*2 for n in numeri]
print("La lista originale: " + ("".join(str(numeri))) + "\nLa lista raddoppiata: " + str("".join(str(numeri_1))))

In [ ]:
# 3. Abbiamo una lista di nomi. Creare una nuova lista i cui elemnti siano le iniziali dei nomi, mediante comprehesion
nomi = ["Alex","Bob","Cindy","Dan","Emma","Faith","Grace","Henry"]
nomi_1 = [n[0] for n in nomi]
print("La lista originale: " + (", ".join(nomi)) + "\nLa lista elaborata: " + str(", ".join(nomi_1)))

In [ ]:
# 4. Abbiamo una lista di nomi. Creare una nuova lista i cui elemnti siano le iniziali dei nomi seguite da punto, mediante comprehesion
nomi = ["Alex","Bob","Cindy","Dan","Emma","Faith","Grace","Henry"]
nomi_1 = [(n[0] + ".")  for n in nomi]
print("La lista originale: " + (", ".join(nomi)) + "\nLa lista elaborata: " + str(" - ".join(nomi_1)))

In [ ]:
# 5. Abbiamo una lista di codici fiscali. Creare una lista che contenga,  per ogni cf, solo i caratteri relativi al nome mediante comprehension
lista_cf = ["ABCDEF95G01A123B", "GHIJKL91MO2A321C","MNOPOR89S03A456D", "STUVWX95Z04A654E", "XYZABCO1D05A789F","DEFGHI95J06A987G"]
lista_nomi = [l[3:6] for l in lista_cf]
print("La lista originale: " + (", ".join(lista_cf)) + "\nLa lista elaborata: " + str(" - ".join(lista_nomi)))

In [ ]:
# 6. Abbiamo una lista di codici fiscali. Creare una lista che contenga,  per ogni cf, solo i caratteri relativi al nome ed una lista per i caratterie del cognome,mediante comprehension
lista_cf = ["ABCDEF95G01A123B", "GHIJKL91MO2A321C","MNOPOR89S03A456D", "STUVWX95Z04A654E", "XYZABCO1D05A789F","DEFGHI95J06A987G"]
lista_nomi = [l[3:6] for l in lista_cf]
lista_cogn = [l[0:3] for l in lista_cf]
print("La lista originale: " + (", ".join(lista_cf)) + "\nLa lista dei nomi: " + str(" - ".join(lista_nomi)) + "\nLa lista dei cognomi: " + str(" - ".join(lista_cogn)))

In [ ]:
# 7. Abbiamo una lista di codici fiscali. Creare una lista che contenga solo i cf dei nati nel 95, tramite comprehension
lista_cf = ["ABCDEF95G01A123B", "GHIJKL91MO2A321C","MNOPOR89S03A456D", "STUVWX95Z04A654E", "XYZABCO1D05A789F","DEFGHI95J06A987G"]
nati_95 = [l for l in lista_cf if l.__contains__("95")]
print("La lista originale: " + (", ".join(lista_cf)) + "\nLa lista elaborata: " + str(" - ".join(nati_95)))

In [ ]:
# 8. Abbiamo una lista di codici fiscali. Creare una lista che contenga solo gli ultimi 5 caratteri dei cf dei nati nel 95, tramite comprehension
lista_cf = ["ABCDEF95G01A123B", "GHIJKL91MO2A321C","MNOPOR89S03A456D", "STUVWX95Z04A654E", "XYZABCO1D05A789F","DEFGHI95J06A987G"]
nati_95 = [l[-5:] for l in lista_cf if l.__contains__("95")]
print("La lista originale: " + (", ".join(lista_cf)) + "\nLa lista elaborata: " + str(" - ".join(nati_95)))

In [ ]:
# 9. Abbiamo una lista dei prezzi in dollari che, erroneamente, sono stati scritti con il simbolo dell'euro. Cambiare il simbolo dell'euro con quello del dollaro per ogni stringa nella lista usando la comprehession
prezzi = ["100 €","200 €","500 €","10 €","50 €","70 €"]
print("La lista originale: " + (", ".join(prezzi)))
prezzi = [l.replace("€","$") for l in prezzi]
print("La lista elaborata: " + str(", ".join(prezzi)))

In [ ]:
# 10. Abiamo una lista di studenti. Vogliamo dividere gli studenti in due squadre per un campionato di UNO nel seguente modo: la prima metà per una squadra e la seconda metà per l'altra.
# Creiamo due liste per ogni squadra e alla fine visualizziamola
studenti = ["Alex","Bob","Cindy","Dan","Emma","Faith","Grace","Henry","Isabelle","John"]
squadra_2 =[l for l in studenti[-5:]]
squadra_1 = [l for l in studenti[0:5]]
print("Le squadre sono così divise:\n" + "".join(str(squadra_1)) + "\n" + "".join(str(squadra_2)))

In [ ]:
# 11. Abiamo una lista di studenti. Vogliamo dividere gli studenti in due squadre per un campionato di UNO nel seguente modo: i nomi in posizione pari in una squadra, quelli dispari nell'altra.
# Creiamo due liste per ogni squadra e alla fine visualizziamola
studenti = ["Alex","Bob","Cindy","Dan","Emma","Faith","Grace","Henry","Isabelle","John"]
squadra_1 =[studenti[l] for l in range(0,len(studenti),2)]
squadra_2 = [studenti[l] for l in range(1,len(studenti),2)]
print("Le squadre sono così divise:\n" + ", ".join(squadra_1) + "\n" + ", ".join(squadra_2))

In [ ]:
# 12. Abbiamo una lista con i guadagni degli ultimi 12 mesi (Supponiamo da Gennaio a Dicembre). Dobbiamo confrontare, stampando tutto a video, il guadagno di ogni mese con la media dei guadagni precedenti.
guadagni = [100,90,70,40,50,80,90,120,80,20,50,50]
print("Mese 1:", str(guadagni[0]))
print("".join(["Mese " + str(pos+1) +": " + str(guadagni[pos]) + " (media prec: " + str(sum(guadagni[:pos])//(pos)) + ")\n" for pos in range(1,len(guadagni))]))

In [ ]:
# 13. Abbiamo una lista con i guadagni degli ultimi 12 mesi (Supponiamo da Gennaio a Dicembre). Dobbiamo confrontare, stampando tutto a video, il guadagno di ogni mese con la media dei guadagni precedenti,
# specificando se è maggiore o minore
guadagni = [100,90,70,40,50,80,90,120,80,20,50,50]
print("Mese 1:", str(guadagni[0]))
print("".join(["Mese " + str(pos+1) +": " + str(guadagni[pos]) + ", media prec: " + str(sum(guadagni[:pos])//(pos)) + " - siamo sopra la media\n"
                if (sum(guadagni[:pos])//(pos))>guadagni[pos] 
                else "Mese " + str(pos+1) +": " + str(guadagni[pos]) + ", media prec: " + str(sum(guadagni[:pos])//(pos)) + " - siamo sotto la media\n" 
                for pos in range(1,len(guadagni))]))

In [ ]:
# 14-15. Scrivere una funzione che, data una lista di numeri, fornisca in output il maggiore di tutti, senza utilizzare la funzione max
val = input("Inserire la lista di numeri da esaminare separati da una virgola:\n")
val = val.split(",")
def Calcolo_Max(val):
    max = 0
    for el in val:
        if int(el) > int(max) : max = el
    return int(max)
def Calcolo_Min(val):
    min = Calcolo_Max(val)
    for el in val:
        if int(el) < int(min) : min = el
    return int(min)
print("Il valore massimo è : " + str(Calcolo_Max(val)) , "\nIl valore minimo è : ", str(Calcolo_Min(val)))

In [ ]:
#16. Scrivere una funzione che, data una lista di numeri, fornisca in output i due numeri più grandi
num = input("Inserire la lista di numeri da esaminare separati da una virgola:\n")
num = num.split(",")
def Calcolo_Max(var):
    max = 0
    for el in var:
        if int(el) > int(max) : max = el
    return int(max)
def Due_maggiori(vas):
    max = []
    max.append(Calcolo_Max(vas))
    vas.remove(str(max[0]))
    max.append(Calcolo_Max(vas))
    return max
print("I due numeri maggiorni sono: " + str(Due_maggiori(num)))

In [ ]:
# 17. Scrivere una funzione che in input acquisisce una lista di numeri e un numero K; in output dovrà restituire la media di tutti i numeri nella lista maggiori o uguali a K;
# se non ce ne dovesse essere nessuno, dovrà stampare a schermo un messaggio adeguato
num = input("Inserire la lista di numeri da esaminare separati da una virgola:\n")
num = num.split(",")
K = input("Inserire il valore di K:\n")
def controllo_K(lista,fattore):
    over = [int(el) for el in lista if el>= fattore]
    if len(over)>0:
        out = "La media dei numeri superiori a K è: " + str(sum(over)/len(over))
    else:out = "La lista inserita non contiene numeri che soddisfano i requisiti"
    return out
print(str(controllo_K(num,K)))

In [ ]:
# 18. Scrivere una funzione che, data una lista di numeri, come output stamperà lo stesso numero di asterischi su righe diverse, ottenendo una semplice visualizzazione grafica.
num_list = input("Inserire la lista di numeri da esaminare separati da una virgola:\n")
num_list=num_list.split(",")
def disegna_asterichi(x):
    for el in x:
        print ("*" * int(el))
disegna_asterichi(num_list)

In [ ]:
# 19. Abbiamo un testo ad esempio. Creiamo una funzione che prenda il testo in input e in output ci dia un dizionario che contiene ogni tipo di carattere e quante volte appare.
racconto = """Lisetta va a passeggio in campagna; è felice di raccogliere i fiori che crescono sulle rive, ai bordi della strada. Ha già un bel mazzetto di ranuncoli e margherite."""
def coun_char(testo):
    D_O = {}
    for el in testo:
        if el not in D_O.keys():D_O.update({el:1})
        elif el in D_O.keys():D_O[el] += 1 
    return D_O
print("Il risultato dell'elaborazione è:\n" + str(coun_char(racconto)))

In [ ]:
# 20. Abbiamo un testo ad esempio. Creiamo una funzione che prenda il testo in input e in output ci dia un dizionario che contiene ogni tipo di carattere e quante volte appare esclusi punteggiatura e spazi
racconto = """Lisetta va a passeggio in campagna; è felice di raccogliere i fiori che crescono sulle rive, ai bordi della strada. Ha già un bel mazzetto di ranuncoli e margherite."""
def coun_char_alpha(testo):
    D_O = {}
    for el in testo:
        if str(el).isalpha():
            if el not in D_O.keys():D_O.update({el:1})
            elif el in D_O.keys():D_O[el] += 1 
    return D_O
print("Il risultato dell'elaborazione è:\n" + str(coun_char_alpha(racconto)))

In [ ]:
# 21. Abbiamo un testo ad esempio. Creiamo una funzione che prenda il testo in input e in output ci dia un dizionario che contiene ogni tipo di carattere e quante volte appare senza fare differenza fra maiuscole e minuscole
racconto = """Lisetta va a passeggio in campagna; è felice di raccogliere i fiori che crescono sulle rive, ai bordi della strada. Ha già un bel mazzetto di ranuncoli e margherite."""
def coun_char_all(testo):
    D_O = {}
    for el in testo:
        el = str(el.upper())
        if el not in D_O.keys():D_O.update({el:1})
        elif el in D_O.keys():D_O[el] += 1 
    return D_O
print("Il risultato dell'elaborazione è:\n" + str(coun_char_all(racconto)))

In [266]:
# 22. Andiamo sul sito e scarichiamo la mappa dei pub, circoli e locali in Italia.
import pandas as pd
mappa = pd.read_csv('Mappa-dei-pub-circoli-locali-in-Italia.csv',sep=";")
#Esaminiamo il dataset:
#Quanti dati ci sono in totale?
print("Nel file sono ci sono " + str(mappa.__len__()) + " righe.")
#Quali sono i metadati?
print("\nI metadati sono:")
for el in mappa.columns.values:
    print("- " + el)

Nel file sono ci sono 2635 righe.

I metadati sono:
- Comune
- Provincia
- Regione
- Nome
- Anno inserimento
- Data e ora inserimento
- Identificatore in OpenStreetMap
- Longitudine
- Latitudine

In [267]:
#stampiamo il primo elemento
mappa[:1]

,Comune,Provincia,Regione,Nome,Anno inserimento,Data e ora inserimento,Identificatore in OpenStreetMap,Longitudine,Latitudine
0,ALTRO,ALTRO,ALTRO,NaN,2011,2011-06-25T23:17:43Z,1339088150,13.733257,45.57583

In [268]:
#stampiamo l'ultimo elemento
mappa[-1:]

,Comune,Provincia,Regione,Nome,Anno inserimento,Data e ora inserimento,Identificatore in OpenStreetMap,Longitudine,Latitudine
2634,TRANI,BARLETTA-ANDRIA-TRANI,Puglia,Well's Fargo,2009,2009-08-10T12:44:03Z,387223648,16.436765,41.267264

In [269]:
#riusciamo a stampare un elemento a caso?
import random 
x = random.randint(0,mappa.__len__()-1)
mappa[x:x+1]

,Comune,Provincia,Regione,Nome,Anno inserimento,Data e ora inserimento,Identificatore in OpenStreetMap,Longitudine,Latitudine
921,LAZISE,VERONA,Veneto,Cort�S,2012,2012-06-01T22:04:42Z,1552308391,10.733473,45.505983

In [271]:
#quali sono gli anni di inserimento presenti?
anni = []
for el in mappa["Anno inserimento"]:
    if el not in anni: 
        anni.append(el)
anni.sort()
print((str(anni)))

[2007, 2008, 2009, 2010, 2011, 2012, 2013, 2014, 2015, 2016]

In [272]:
#quante attività ci sono nel quadrato di longitudine 9-10 e latitudine 45-46?
Long = mappa["Longitudine"].between(9,10)
Lat = mappa["Latitudine"].between(45,46) 
mappa[Long & Lat]

,Comune,Provincia,Regione,Nome,Anno inserimento,Data e ora inserimento,Identificatore in OpenStreetMap,Longitudine,Latitudine
2,ALTRO,ALTRO,ALTRO,Murrayfield Pub,2015,2015-10-24T09:28:06Z,3323888102,9.029585,45.831340
342,ORIGGIO,VARESE,Lombardia,NaN,2010,2010-03-04T10:01:20Z,660121664,9.014469,45.585286
343,ORIGGIO,VARESE,Lombardia,Buenavista,2012,2012-10-29T14:18:54Z,1654210859,9.021546,45.608240
346,SARONNO,VARESE,Lombardia,NaN,2012,2012-09-09T16:32:21Z,1907124869,9.031357,45.629008
347,SARONNO,VARESE,Lombardia,Bray Hill,2014,2014-11-25T17:32:40Z,1907140529,9.030316,45.628685
...,...,...,...,...,...,...,...,...,...
2607,SEREGNO,MONZA-BRIANZA,Lombardia,Pane e trita,2015,2015-04-11T13:16:22Z,3450504976,9.216413,45.650058
2608,SEREGNO,MONZA-BRIANZA,Lombardia,The Quiet Man,2014,2014-08-29T07:53:44Z,3048521612,9.210487,45.648891
2609,VEDANO AL LAMBRO,MONZA-BRIANZA,Lombardia,Bambu Pizza Pub,2014,2014-10-11T18:04:39Z,3124304239,9.272623,45.614027
2610,VERANO BRIANZA,MONZA-BRIANZA,Lombardia,NaN,2010,2010-01-30T10:13:31Z,622994942,9.227324,45.681202
2611,LENTATE SUL SEVESO,MONZA-BRIANZA,Lombardia,St. James' Gate,2016,2016-02-06T15:14:32Z,2245443209,9.117388,45.677211

In [273]:
#quante attività ci sono nella provincia di Vicenza?
Vicenza = mappa["Provincia"] == "VICENZA"
print("Nella provincia di Vicenza sono presenti " + str(mappa[Vicenza].__len__()) + " attività.")

Nella provincia di Vicenza sono presenti 73 attività.

In [278]:
#quante enoteche ci sono, e come si chiamano?
x=0
for el in mappa["Nome"]:
    if "ENOTECA" in str(el).upper():
        print(el)
        x += 1
print("Per un totale di " + str(x) + " enoteche.")

Enoteca con Cucina""Tirolin""
Concordia Enoteca
Enoteca Umberto
Enoteca ""Al Brindisi""
Enoteca ""da Massimo""
Enoteca Il Violino Rosso
Per un totale di 6 enoteche.

In [284]:
#quante attività ci sono in Lazio e Abruzzo assieme?
Lazio = mappa["Regione"] == "Lazio"
Abruzzo = mappa["Regione"] == "Abruzzo"
print("Nella regioni Lazio e Abruzzo sono presenti " + str(mappa[Lazio + Abruzzo].__len__()) + " attività.")

Nella regioni Lazio e Abruzzo sono presenti 337 attività.