In [1]:
# 1. Abbiamo una lista di liste. Che tipo di struttura dati o matematica potrebbe rappresentare? Notate che tutte le liste "interne" sono della stessa dimensione.
#Come facciamo per accedere ad un elemento in particolare?
mat = [[0,1,2,3,4],
      [5,6,7,8,9],
      [10,11,12,13,14]]
#La variabile mat rappresenta una matrice o un dataframe

#Per richiamare un elmento bisogna utilizzare il nome della variabile seguito da due coppie di parentesi quadre dentro alla quale si indica la lista in cui è contenuto l'elemento e la posizione dello stesso all'interno della lista.
#Esempio di richiamo del valore "11", contenuto nella lista alla posizione "1" nella lista alla posizione "2"
mat[2][1]

11

In [2]:
# 2. Trasformiamo la lista dell'esercizio precendente in un array NumPy.
import numpy as np
mat = [[0,1,2,3,4],[5,6,7,8,9],[10,11,12,13,14]]
mat_ny = np.array(mat)
# Come facciamo per accedere ai singoli elementi?
# Si può accedere in questo modo
mat_ny[2,1]

11

In [ ]:
# 3. Abbiamo il seguente array NumPy.
import numpy as np
linear_data = np.array([x for x in range(27)])
# Lo ridimensioniamo tramite il metodo .reshape().
reshaped_data = linear_data.reshape(3,3,3)
#Quante dimensioni ha il nuovo array?
print(linear_data)
print(reshaped_data.shape)
#Come facciamo per accedere ai singoli elementi?
print(reshaped_data)
#Nome variabile e parentesi quadre con virgole per indicare le posizioni dell'elemento che si vuole richiamare
reshaped_data[1,0,2]

In [33]:
# 4. Abbiamo un territorio diviso in quattro quadranti; in ognuno di essi c'è uno store.
# Vogliamo contare quanti clienti vengono serviti dai diversi store: creiamo una struttura dati adeguata con un array NUmPy, dove il conteggio di ogni store parta da zero.
import numpy as np
import random
quadranti = np.array(["UL","UR","LL","RR"])
clienti = np.array([0,0,0,0])
for x in range(100):
    pos = random.randint(0,3)
    clienti[pos] += 1
for el in range(len(clienti)):
    print(str(quadranti[el]) + " : " +str(clienti[el]))
#Alla fine, che valore ha lo store UR? E lo store LL?
print("\nLo store " + str(quadranti[1]) + " ha " + str(clienti[1]) + " clienti e lo store " + str(quadranti[2]) + " ha " + str(clienti[2])+ " clienti.")

#Quale store ja più di 25 clienti? Quanti clienti hanno avuto di preciso questi store?
print("Store con più di 25 clienti:")
somma = 0
for el in range(len(quadranti)): 
    if clienti[el] > 25 :
        print(str(quadranti[el]) +  " ha " + str(clienti[el]) + " clienti.")
        somma += clienti[el]
print("La somma dei clienti è: " + str(somma))

UL : 18
UR : 32
LL : 30
RR : 20

Lo store UR ha 32 clienti e lo store LL ha 30 clienti.
Store con più di 25 clienti:
UR ha 32 clienti.
LL ha 30 clienti.
La somma dei clienti è: 62

In [2]:
# 4. 3/3 Ripetiamo la traccia precedente ma stavolta abbiamo nove quadranti e 200 iterazioni.
import numpy as np
import random
quadranti = np.array(["UL","UC","UR","ML","MC","MR","LL","LC","LR"])
clienti = np.array([0,0,0,0,0,0,0,0,0])
for x in range(200):
    pos = random.randint(0,8)
    clienti[pos] += 1
print("\nPer questo anno la situazione è la seguente:")
for el in range(len(clienti)):
    print(str(quadranti[el]) + " : " +str(clienti[el]))
# L'anno prossimo ci aspettiamo 4 volte i valori appena ottenuti; simuliamo velocemente il tutto e stampiamo il risultato
for el in range(len(clienti)):
    clienti[el] *=4
print("\nPer il prossimo anno la situazione attesa è la seguente:")
for el in range(len(clienti)):
    print(str(quadranti[el]) + " : " +str(clienti[el]))

Per questo anno la situazione è la seguente:
UL : 18
UC : 26
UR : 20
ML : 24
MC : 21
MR : 22
LL : 24
LC : 22
LR : 23

Per il prossimo anno la situazione attesa è la seguente:
UL : 72
UC : 104
UR : 80
ML : 96
MC : 84
MR : 88
LL : 96
LC : 88
LR : 92

In [16]:
# 5. Chiediamo all'utente di inserire un numero, dividiamolo per 5 e poi stampiamo a il risultato a video. Gestiamo correttamente le eccezioni nel caso in cui l'utente immetta un input errato.
while True:                                                                                                                 
    print("Inserisci il numero da dividere per 5:")
    try:    
        num = int(input())
    except:print("Hai inserito un valore non valido: riprova.")
    else :
        print(num/5)
        break

Inserisci il numero da dividere per 5:
Hai inserito un valore non valido: riprova.
Inserisci il numero da dividere per 5:
2.0

In [ ]:
# 6. In una catena di montaggio abbiamo una struttura metallica di 28.75 cm di lunghezza: per assicurarne la stabilità è necessario inserire 15 rivetti dei quali uno all'inizio ed uno alla fine e tutti quanti separati dalla
# stessa distanza. Come possiamo calcolare i punti esatti in cui inserire i rivetti tramite NumPy?
lung_strutt = 28.75
num_rivetti = 15
dist = lung_strutt/(num_rivetti-1)
arr__ = np.array([dist * el for el in range(num_rivetti)])
print("I punti in cui posizionare i rivetti sono: ")
for el in arr__: print(round((el),2))

In [ ]:
# 6. In una catena di montaggio abbiamo una struttura metallica di 28.75 cm di lunghezza: per assicurarne la stabilità è necessario inserire 15 rivetti dei quali uno all'inizio ed uno alla fine e tutti quanti separati dalla
# stessa distanza. Come possiamo calcolare i punti esatti in cui inserire i rivetti tramite NumPy?
import numpy as np
lung_strutt = 28.75
num_rivetti = 15
punti_esatti = np.linspace(0,lung_strutt,num=num_rivetti)
print("I punti in cui posizionare i rivetti sono: " , punti_esatti)

In [19]:
# 7. Scarichiamo l'Iris Dataset.
# Leggiamo il file e carichiamo in un Dataframe mediante pd.read_csv() senza utilizzare altri parametri
import pandas as pd
data_set = pd.read_csv("iris.data")
# Stampiamo le prime 5 righe
print(data_set.head())

   5.1  3.5  1.4  0.2  Iris-setosa
0  4.9  3.0  1.4  0.2  Iris-setosa
1  4.7  3.2  1.3  0.2  Iris-setosa
2  4.6  3.1  1.5  0.2  Iris-setosa
3  5.0  3.6  1.4  0.2  Iris-setosa
4  5.4  3.9  1.7  0.4  Iris-setosa

In [20]:
# Stampiamo i nomi delle colonne: sono corretti?
data_set.columns #Ovviamente no

Index(['5.1', '3.5', '1.4', '0.2', 'Iris-setosa'], dtype='object')

In [21]:
# Leggiamo  il file e carichiamo in una DataFrame aggiungendo i nomi di colonna come parametro
data_set = pd.read_csv("iris.data",header=None,names=['sepal length in cm','sepal width in cm','petal length in cm','petal width in cm','class'])
#Stampiamo le prime cinque righe
data_set.head()

,sepal length in cm,sepal width in cm,petal length in cm,petal width in cm,class
0,5.1,3.5,1.4,0.2,Iris-setosa
1,4.9,3.0,1.4,0.2,Iris-setosa
2,4.7,3.2,1.3,0.2,Iris-setosa
3,4.6,3.1,1.5,0.2,Iris-setosa
4,5.0,3.6,1.4,0.2,Iris-setosa

In [24]:
# E le ultime 10
data_set.tail(10)

,sepal length in cm,sepal width in cm,petal length in cm,petal width in cm,class
140,6.7,3.1,5.6,2.4,Iris-virginica
141,6.9,3.1,5.1,2.3,Iris-virginica
142,5.8,2.7,5.1,1.9,Iris-virginica
143,6.8,3.2,5.9,2.3,Iris-virginica
144,6.7,3.3,5.7,2.5,Iris-virginica
145,6.7,3.0,5.2,2.3,Iris-virginica
146,6.3,2.5,5.0,1.9,Iris-virginica
147,6.5,3.0,5.2,2.0,Iris-virginica
148,6.2,3.4,5.4,2.3,Iris-virginica
149,5.9,3.0,5.1,1.8,Iris-virginica

In [25]:
# Stampiamo un riepilogo dei descrittori statistici del dataset
data_set.describe()

,sepal length in cm,sepal width in cm,petal length in cm,petal width in cm
count,150.000000,150.000000,150.000000,150.000000
mean,5.843333,3.054000,3.758667,1.198667
std,0.828066,0.433594,1.764420,0.763161
min,4.300000,2.000000,1.000000,0.100000
25%,5.100000,2.800000,1.600000,0.300000
50%,5.800000,3.000000,4.350000,1.300000
75%,6.400000,3.300000,5.100000,1.800000
max,7.900000,4.400000,6.900000,2.500000

In [26]:
# 8. Tra i vari dataset, ce n'è uno che contiene diverse qualità di vini e le misure di dioverse proprietà organolettiche, wine.csv; Leggiamo quindi il dataset e visualizziamo le prime e le ultime righe
import pandas as pd
wine = pd.read_csv("beginner_datasets/wine.csv")
wine

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality,type
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.99780,3.51,0.56,9.4,5,red
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.99680,3.20,0.68,9.8,5,red
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.99700,3.26,0.65,9.8,5,red
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.99800,3.16,0.58,9.8,6,red
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.99780,3.51,0.56,9.4,5,red
...,...,...,...,...,...,...,...,...,...,...,...,...,...
6492,6.2,0.21,0.29,1.6,0.039,24.0,92.0,0.99114,3.27,0.50,11.2,6,white
6493,6.6,0.32,0.36,8.0,0.047,57.0,168.0,0.99490,3.15,0.46,9.6,5,white
6494,6.5,0.24,0.19,1.2,0.041,30.0,111.0,0.99254,2.99,0.46,9.4,6,white
6495,5.5,0.29,0.30,1.1,0.022,20.0,110.0,0.98869,3.34,0.38,12.8,7,white
6496,6.0,0.21,0.38,0.8,0.020,22.0,98.0,0.98941,3.26,0.32,11.8,6,white

In [28]:
# Leggiamo nuovamente il dataset ma stavolta considerando solo le ultime 6 colonne ricordandoci che in totale il dataset ha 13 colonne
wine = pd.read_csv("beginner_datasets/wine.csv",usecols=[x for x in range(7,13,1)])
wine

      density    pH  sulphates  alcohol  quality   type
0     0.99780  3.51       0.56      9.4        5    red
1     0.99680  3.20       0.68      9.8        5    red
2     0.99700  3.26       0.65      9.8        5    red
3     0.99800  3.16       0.58      9.8        6    red
4     0.99780  3.51       0.56      9.4        5    red
...       ...   ...        ...      ...      ...    ...
6492  0.99114  3.27       0.50     11.2        6  white
6493  0.99490  3.15       0.46      9.6        5  white
6494  0.99254  2.99       0.46      9.4        6  white
6495  0.98869  3.34       0.38     12.8        7  white
6496  0.98941  3.26       0.32     11.8        6  white

[6497 rows x 6 columns]

In [29]:
# Visualizziamo un recoconto dei descrittori statistici di questa versione
wine.describe()

           density           pH    sulphates      alcohol      quality
count  6497.000000  6497.000000  6497.000000  6497.000000  6497.000000
mean      0.994697     3.218501     0.531268    10.491801     5.818378
std       0.002999     0.160787     0.148806     1.192712     0.873255
min       0.987110     2.720000     0.220000     8.000000     3.000000
25%       0.992340     3.110000     0.430000     9.500000     5.000000
50%       0.994890     3.210000     0.510000    10.300000     6.000000
75%       0.996990     3.320000     0.600000    11.300000     6.000000
max       1.038980     4.010000     2.000000    14.900000     9.000000

In [6]:
# 10. Abbiamo la seguente matrice. Creiamo un ndarray con gli stessi valori
import numpy as np
arr_matrix = np.matrix([(1,1,1,1),
                        (5,1,1,1),
                        (20,-4,0,42)])
arr_ = np.array([el for el in arr_matrix])
arr_ = np.ndarray.reshape(arr_,(1,12))
arr_

array([[ 1,  1,  1,  1,  5,  1,  1,  1, 20, -4,  0, 42]])

In [ ]:
# 11. Creiamo il seguente ndarray 5 x 5. Per ogni valore, sottraiamo il minimo (2) e poi dividiamo il risultato per il massimo (42) meno il minimo.
import numpy as np
matrix = np.matrix([(10, 22, 21,  8,  9),
                    ( 9, 42,  3, 18, 11),
                    ( 5,  4, 30, 12, 29),
                    (37, 31,  7,  2, 26),
                    ( 8,  6,  4, 33, 15)])