In [ ]:
# 1. Carichiamo il dataset di amazon tramite pandas
import pandas as pd
amazon_data = pd.read_csv('beginner_datasets/amazon.csv')
amazon_data

In [ ]:
# Valutiamo le dimensioni del dataset e visualizziamo dieci righe a caso
print("Il dataset è composto da",amazon_data.shape[0],"righe e",amazon_data.shape[1],"colonne.")
amazon_data.sample(10)

In [ ]:
# Osserviamo quali sono i nomi di colonna
print("I nomi di colonna sono:")
print(amazon_data.columns[0])
print(amazon_data.columns[1])

In [ ]:
# Il dataset è bilanciato? Ovvero, il numero di recensioni positive è uguale a quello delle negative?
print("Le recensioni positive sono",amazon_data.Positive.value_counts()[1], "mentre quelle negative sono",amazon_data.Positive.value_counts()[0],".\nSi evice che il dataset non è bilanciato in favore delle recensioni positive.")

In [ ]:
# Quante recensioni parlano di app?
# Quante parlano di giochi?
app = amazon_data['reviewText'].str.contains('app').sum()
giochi = amazon_data['reviewText'].str.contains('game').sum()
print("Ci sono",app,"recensioni che parlano di app e",giochi,"che parlano di giochi")

In [ ]:
# In generale quante recensioni raccomandano il prodotto?
# E quante non lo raccomandano
racc_ = amazon_data['reviewText'].str.contains('recommend')
pos_ = amazon_data["Positive"] == True
neg_ = amazon_data["Positive"] == False
racc_pos = amazon_data.loc[racc_ & pos_,"reviewText"]
racc_neg = amazon_data.loc[racc_ & neg_,"reviewText"]
print("In totale ci sono ",racc_pos.count(),"che raccomandano il prodotto recensito,\n",racc_neg.count()," invece non lo raccomandano.")
# Stampate qualche esempio dell'una e dell'altra
print("\nDi seguito qualche esempio:\n \nPositive:")
print(racc_pos.sample(5))
print("\n\nNegative:")
print(racc_neg.sample(5))

In [ ]:
# Le recensioni che menzionano il Kindle sono perlopiù positive o negative?
Kindle_up = amazon_data['reviewText'].str.upper().str.contains("KINDLE")
kindle = amazon_data.loc[Kindle_up]
print("Le recensioni che menzionano il kindle sono perlopiù positive.")
print("Positive:",kindle["Positive"].value_counts()[1])
print("Negative:",kindle["Positive"].value_counts()[0])

In [7]:
# Osserviamone le dimensioni e un'anteprima di cinque righe
import pandas as pd
diab = pd.read_csv("beginner_datasets/diabetes.csv")
print("Colonne:",diab.shape[1],"\nRighe:",diab.shape[0])
diab.head(5)

Colonne: 9
Righe: 768

,Number of times pregnant,Plasma glucose concentration a 2 hours in an oral glucose tolerance test,Diastolic blood pressure (mm Hg),Triceps skin fold thickness (mm),2-Hour serum insulin (mu U/ml),Body mass index (weight in kg/(height in m)^2),Diabetes pedigree function,Age (years),Class variable
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1

In [8]:
# Prendiamoci un pò di tempo per dare un'occhiata ai metadati delle colonne
print("I Metatdati:\n"+"-"+"\n-".join(diab.columns))
#Stampiamo i descrittori statistici del dataset
diab.describe()

I Metatdati:
-Number of times pregnant
-Plasma glucose concentration a 2 hours in an oral glucose tolerance test
-Diastolic blood pressure (mm Hg)
-Triceps skin fold thickness (mm)
-2-Hour serum insulin (mu U/ml)
-Body mass index (weight in kg/(height in m)^2)
-Diabetes pedigree function
-Age (years)
-Class variable

,Number of times pregnant,Plasma glucose concentration a 2 hours in an oral glucose tolerance test,Diastolic blood pressure (mm Hg),Triceps skin fold thickness (mm),2-Hour serum insulin (mu U/ml),Body mass index (weight in kg/(height in m)^2),Diabetes pedigree function,Age (years),Class variable
count,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000
mean,3.845052,120.894531,69.105469,20.536458,79.799479,31.992578,0.471876,33.240885,0.348958
std,3.369578,31.972618,19.355807,15.952218,115.244002,7.884160,0.331329,11.760232,0.476951
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.078000,21.000000,0.000000
25%,1.000000,99.000000,62.000000,0.000000,0.000000,27.300000,0.243750,24.000000,0.000000
50%,3.000000,117.000000,72.000000,23.000000,30.500000,32.000000,0.372500,29.000000,0.000000
75%,6.000000,140.250000,80.000000,32.000000,127.250000,36.600000,0.626250,41.000000,1.000000
max,17.000000,199.000000,122.000000,99.000000,846.000000,67.100000,2.420000,81.000000,1.000000

In [ ]:
# Selezioniamo i dati relativi a diverse fasce di età : <20,20-30,30-40,40-50,>50
fascia_1 = diab['Age (years)'] < 20
fascia_2 = diab['Age (years)'].between(20,30)
fascia_3 = diab['Age (years)'].between(30,40)
fascia_4 = diab['Age (years)'].between(40,50)
fascia_5 = diab['Age (years)'] > 50
# Qual 'è la media della pressione sanguigna diastolica per le diverse fasce di età?
print("La media della pressione sanguigna è:\n"+
      str(round(diab[fascia_1]['Diastolic blood pressure (mm Hg)'].mean(),2))+"\n"+
      str(round(diab[fascia_2]['Diastolic blood pressure (mm Hg)'].mean(),2))+"\n"+
      str(round(diab[fascia_3]['Diastolic blood pressure (mm Hg)'].mean(),2))+"\n"+
      str(round(diab[fascia_4]['Diastolic blood pressure (mm Hg)'].mean(),2))+"\n"+
      str(round(diab[fascia_5]['Diastolic blood pressure (mm Hg)'].mean(),2)))
# Qual è la media della pressione per ogni singolo anno di età?
pressione_anno = diab.groupby(by="Age (years)")['Diastolic blood pressure (mm Hg)'].aggregate(['mean'])
pressione_anno

In [31]:
# carichiamo il dataset insurance.csv
import pandas as pd
insu_ = pd.read_csv('beginner_datasets/insurance.csv')
# visualizziamo le dimensioni, un'anteprima e oserviamo i nomi di colonna
print("Colonne:",insu_.shape[1],"\nRighe:",insu_.shape[0],
      "\nI nomi delle colonne sono:\n-"+"\n-".join(insu_.columns))
insu_.sample(8)

Colonne: 7
Righe: 1338
I nomi delle colonne sono:
-age
-sex
-bmi
-children
-smoker
-region
-charges

      age     sex     bmi  children smoker     region      charges
944    62    male  39.930         0     no  southeast  12982.87470
551    32  female  28.930         0     no  southeast   3972.92470
102    18  female  30.115         0     no  northeast  21344.84670
1274   26    male  27.060         0    yes  southeast  17043.34140
371    57  female  22.230         0     no  northeast  12029.28670
1331   23  female  33.400         0     no  southwest  10795.93733
1294   58    male  25.175         0     no  northeast  11931.12525
421    61    male  35.860         0    yes  southeast  46599.10840

In [ ]:
# Quali sono le medie di charges rispetto a region, smoker e sex?
reg_=insu_.groupby('region')['charges'].aggregate('mean')
smo_=insu_.groupby('smoker')['charges'].aggregate('mean')
sex_=insu_.groupby('sex')['charges'].aggregate('mean')
print(reg_)
print(sex_)
print(smo_)
("La differenza sostianziale è fra fumatori e non")

In [ ]:
# Quali sono i descrittori statistici di bmi? Quali sono minimo, media e massimo di charges rispetto ai diversi quartili dei valori di bmi
bmi_ = insu_.groupby("bmi",)['charges'].aggregate(['max','min','mean'])
print(insu_['bmi'].describe())
print(bmi_)

In [68]:
# scarichiamo il dataset Pokemon
pkm = pd.read_csv('beginner_datasets/pokemon.csv')
# visualizziamo le dimensioni, un'anteprima e oserviamo i nomi di 
print("Colonne:",pkm.shape[1],"\nRighe:",pkm.shape[0],
      "\nI nomi delle colonne sono:\n-"+"\n-".join(pkm.columns))
pkm.sample(8)

Colonne: 13
Righe: 800
I nomi delle colonne sono:
-#
-Name
-Type 1
-Type 2
-Total
-HP
-Attack
-Defense
-Sp. Atk
-Sp. Def
-Speed
-Generation
-Legendary

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
478,430,Honchkrow,Dark,Flying,505,100,125,52,105,52,71,4,False
580,521,Unfezant,Normal,Flying,488,80,115,80,65,55,93,5,False
144,133,Eevee,Normal,NaN,325,55,55,50,45,65,55,1,False
769,699,Aurorus,Rock,Ice,521,123,77,72,99,92,58,6,False
788,712,Bergmite,Ice,NaN,304,55,69,85,32,35,28,6,False
567,508,Stoutland,Normal,NaN,500,85,110,90,45,90,80,5,False
691,630,Mandibuzz,Dark,Flying,510,110,65,105,55,95,80,5,False
177,163,Hoothoot,Normal,Flying,262,60,30,30,36,56,50,2,False

In [87]:
#settare la prima colonna ocme indice
pkm = pkm.set_index("#")

In [89]:
# Ci sono ripetizioni, ovvero righe che si riferiscono allo stesso pokemon?
pkm.drop_duplicates()

,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
#,,,,,,,,,,,,
1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...
719,Diancie,Rock,Fairy,600,50,100,150,100,150,50,6,True
719,DiancieMega Diancie,Rock,Fairy,700,50,160,110,160,110,110,6,True
720,HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,70,6,True
720,HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,6,True
721,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,True

In [90]:
# Per ogni tipo in Type 1, quantio ce ne sono?
pkm.groupby('Type 1')['Type 1'].count()

Type 1
Bug          69
Dark         31
Dragon       32
Electric     44
Fairy        17
Fighting     27
Fire         52
Flying        4
Ghost        32
Grass        70
Ground       32
Ice          24
Normal       98
Poison       28
Psychic      57
Rock         44
Steel        27
Water       112
Name: Type 1, dtype: int64

In [91]:
# Quali sono i pokemeno legendari
legend_ = pkm['Legendary'] == True
pkm[legend_]

,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
#,,,,,,,,,,,,
144,Articuno,Ice,Flying,580,90,85,100,95,125,85,1,True
145,Zapdos,Electric,Flying,580,90,90,85,125,90,100,1,True
146,Moltres,Fire,Flying,580,90,100,90,125,85,90,1,True
150,Mewtwo,Psychic,NaN,680,106,110,90,154,90,130,1,True
150,MewtwoMega Mewtwo X,Psychic,Fighting,780,106,190,100,154,100,130,1,True
...,...,...,...,...,...,...,...,...,...,...,...,...
719,Diancie,Rock,Fairy,600,50,100,150,100,150,50,6,True
719,DiancieMega Diancie,Rock,Fairy,700,50,160,110,160,110,110,6,True
720,HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,70,6,True
720,HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,6,True
721,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,True

In [93]:
# E quali sono Leggendari e di Type 1 Grass?
grass_ = pkm['Type 1'] == 'Grass'
pkm[legend_ & grass_]

,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
#,,,,,,,,,,,,
492,ShayminLand Forme,Grass,NaN,600,100,100,100,100,100,100,4,True
492,ShayminSky Forme,Grass,Flying,600,100,103,75,120,75,127,4,True
640,Virizion,Grass,Fighting,580,91,90,72,90,129,108,5,True

In [99]:
# E i leggendari di tipo 1 Ice o Fire?
ice_ = pkm['Type 1'] == "Ice"
fire_ = pkm['Type 1'] == "Fire"
tp_1 = ice_ | fire_
pkm[legend_ & tp_1]

,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
#,,,,,,,,,,,,
144,Articuno,Ice,Flying,580,90,85,100,95,125,85,1,True
146,Moltres,Fire,Flying,580,90,100,90,125,85,90,1,True
244,Entei,Fire,NaN,580,115,115,85,90,75,100,2,True
250,Ho-oh,Fire,Flying,680,106,130,90,110,154,90,2,True
378,Regice,Ice,NaN,580,80,50,100,100,200,50,3,True
485,Heatran,Fire,Steel,600,91,90,106,130,106,77,4,True
721,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,True

In [102]:
# Ordiniamo il dataset per la colonna name
pkm.sort_values("Name")
pkm.set_index("Name")

,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
Name,,,,,,,,,,,
Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...
Diancie,Rock,Fairy,600,50,100,150,100,150,50,6,True
DiancieMega Diancie,Rock,Fairy,700,50,160,110,160,110,110,6,True
HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,70,6,True
HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,6,True
Volcanion,Fire,Water,600,80,110,120,130,90,70,6,True

In [106]:
# Come accediamo alle statistiche di tutti i pokemon il cui nome inizia per D
start_D = pkm["Name"].str.startswith('D')
pkm[start_D]

,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
#,,,,,,,,,,,,
50,Diglett,Ground,NaN,265,10,55,25,35,45,95,1,False
51,Dugtrio,Ground,NaN,405,35,80,50,50,70,120,1,False
84,Doduo,Normal,Flying,310,35,85,45,35,35,75,1,False
85,Dodrio,Normal,Flying,460,60,110,70,60,60,100,1,False
87,Dewgong,Water,Ice,475,90,70,80,70,95,70,1,False
96,Drowzee,Psychic,NaN,328,60,48,45,43,90,42,1,False
132,Ditto,Normal,NaN,288,48,48,48,48,48,48,1,False
147,Dratini,Dragon,NaN,300,41,64,45,50,50,50,1,False
148,Dragonair,Dragon,NaN,420,61,84,65,70,70,70,1,False
149,Dragonite,Dragon,Flying,600,91,134,95,100,100,80,1,False
206,Dunsparce,Normal,NaN,415,100,70,70,65,65,45,2,False
225,Delibird,Ice,Flying,330,45,55,45,65,45,75,2,False
232,Donphan,Ground,NaN,500,90,120,120,60,60,50,2,False
269,Dustox,Bug,Poison,385,60,50,70,50,90,65,3,False
301,Delcatty,Normal,NaN,380,70,65,65,55,55,70,3,False
355,Duskull,Ghost,NaN,295,20,40,90,30,90,25,3,False
356,Dusclops,Ghost,NaN,455,40,70,130,60,130,25,3,False
386,DeoxysNormal Forme,Psychic,NaN,600,50,150,50,150,50,150,3,True
386,DeoxysAttack Forme,Psychic,NaN,600,50,180,20,180,20,150,3,True
386,DeoxysDefense Forme,Psychic,NaN,600,50,70,160,70,160,90,3,True
386,DeoxysSpeed Forme,Psychic,NaN,600,50,95,90,95,90,180,3,True
425,Drifloon,Ghost,Flying,348,90,50,34,60,44,70,4,False
426,Drifblim,Ghost,Flying,498,150,80,44,90,54,80,4,False
452,Drapion,Poison,Dark,500,70,90,110,60,75,95,4,False
477,Dusknoir,Ghost,NaN,525,45,100,135,65,135,45,4,False
483,Dialga,Steel,Dragon,680,100,120,120,150,100,90,4,True
491,Darkrai,Dark,NaN,600,70,90,90,135,90,125,4,True
502,Dewott,Water,NaN,413,75,75,60,83,60,60,5,False
529,Drilbur,Ground,NaN,328,60,85,40,30,45,68,5,False
554,Darumaka,Fire,NaN,315,70,90,45,15,45,50,5,False
555,DarmanitanStandard Mode,Fire,NaN,480,105,140,55,30,55,95,5,False
555,DarmanitanZen Mode,Fire,Psychic,540,105,30,105,140,105,55,5,False
557,Dwebble,Bug,Rock,325,50,65,85,35,35,55,5,False
578,Duosion,Psychic,NaN,370,65,40,50,125,60,30,5,False
580,Ducklett,Water,Flying,305,62,44,50,44,50,55,5,False
585,Deerling,Normal,Grass,335,60,60,50,40,50,75,5,False
621,Druddigon,Dragon,NaN,485,77,120,90,60,90,48,5,False
632,Durant,Bug,Steel,484,58,109,112,48,48,109,5,False
633,Deino,Dark,Dragon,300,52,65,50,45,50,38,5,False
655,Delphox,Fire,Psychic,534,75,69,72,114,100,104,6,False
660,Diggersby,Normal,Ground,423,85,56,77,50,77,78,6,False
680,Doublade,Steel,Ghost,448,59,110,150,45,49,35,6,False
691,Dragalge,Poison,Dragon,494,65,75,90,97,123,44,6,False
702,Dedenne,Electric,Fairy,431,67,58,57,81,67,101,6,False
719,Diancie,Rock,Fairy,600,50,100,150,100,150,50,6,True
719,DiancieMega Diancie,Rock,Fairy,700,50,160,110,160,110,110,6,True

In [107]:
# Quali sono i pokemon della prima generazione con attacco >50 e HP <60
gen_1 = pkm['Generation'] == 1
attack = pkm['Attack'] > 50
HP = pkm['HP'] < 60
pkm.loc[gen_1 & attack & HP]
# Non ci sono dati nulli

,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
#,,,,,,,,,,,,
4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
5,Charmeleon,Fire,NaN,405,58,64,58,80,65,80,1,False
8,Wartortle,Water,NaN,405,59,63,80,65,80,58,1,False
19,Rattata,Normal,NaN,253,30,56,35,25,35,72,1,False
20,Raticate,Normal,NaN,413,55,81,60,50,70,97,1,False
21,Spearow,Normal,Flying,262,40,60,30,31,31,70,1,False
23,Ekans,Poison,NaN,288,35,60,44,40,54,55,1,False
25,Pikachu,Electric,NaN,320,35,55,40,50,50,90,1,False
27,Sandshrew,Ground,NaN,300,50,75,85,20,30,40,1,False
32,Nidoran♂,Poison,NaN,273,46,57,40,40,40,50,1,False
46,Paras,Bug,Grass,285,35,70,55,45,55,25,1,False
50,Diglett,Ground,NaN,265,10,55,25,35,45,95,1,False
51,Dugtrio,Ground,NaN,405,35,80,50,50,70,120,1,False
54,Psyduck,Water,NaN,320,50,52,48,65,50,55,1,False
56,Mankey,Fighting,NaN,305,40,80,35,35,45,70,1,False
58,Growlithe,Fire,NaN,350,55,70,45,70,50,60,1,False
69,Bellsprout,Grass,Poison,300,50,75,35,70,30,40,1,False
74,Geodude,Rock,Ground,300,40,80,100,30,30,20,1,False
75,Graveler,Rock,Ground,390,55,95,115,45,45,35,1,False
77,Ponyta,Fire,NaN,410,50,85,55,65,65,90,1,False
82,Magneton,Electric,Steel,465,50,60,95,120,70,70,1,False
83,Farfetch'd,Normal,Flying,352,52,65,55,58,62,60,1,False
84,Doduo,Normal,Flying,310,35,85,45,35,35,75,1,False
90,Shellder,Water,NaN,305,30,65,100,45,25,40,1,False
91,Cloyster,Water,Ice,525,50,95,180,85,45,70,1,False
98,Krabby,Water,NaN,325,30,105,90,25,25,50,1,False
99,Kingler,Water,NaN,475,55,130,115,50,50,75,1,False
106,Hitmonlee,Fighting,NaN,455,50,120,53,35,110,87,1,False
107,Hitmonchan,Fighting,NaN,455,50,105,79,35,110,76,1,False
109,Koffing,Poison,NaN,340,40,65,95,60,45,35,1,False
117,Seadra,Water,NaN,440,55,65,95,95,45,85,1,False
118,Goldeen,Water,NaN,320,45,67,60,35,50,63,1,False
133,Eevee,Normal,NaN,325,55,55,50,45,65,55,1,False
140,Kabuto,Rock,Water,355,30,80,90,55,45,55,1,False
147,Dratini,Dragon,NaN,300,41,64,45,50,50,50,1,False